.container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 12% 0;
    padding: 5% 0;
}

.container h1 {
    color: #018FDE;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
}

span {
    color: black;
}

@media screen and (max-width: 600px) and (min-width:300px) {
    .container {
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 12% 0;
        padding: 2% 0;
    }

    .container h1 {
        color: #018FDE;
        text-align: center;
        font-weight: 600;
        font-size: 25px;
    }
}