.container {
    width: 70%;
    margin: 8% auto;
    position: relative;
}

.card {
    text-align: center;
    padding: 5% 0;
}

.card h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 75px;
    width: 70%;
    margin: 0 auto 3%;
    letter-spacing: 0.1em;
}

.card h3 {
    font-size: 28px;
    color: #018FDE;
    text-align: center;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.secondcard {
    width: 50%;
    display: flex;
    margin: 3% auto;
    justify-content: space-around;

}

.secondcard p {
    width: 40%;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    color: #3D3D3D;
    ;
}

.niz {
    position: absolute;
    bottom: 0;
    right: 0;
}

.verh {
    position: absolute;
    top: 0;
    left: 0;
}
.divider{
    height: 12.5px;
}

@media screen and (max-width: 1224px) and (min-width:1024px) {
    .container {
        width: 80%;
        margin: 8% auto;
        position: relative;
    }
    
    .card {
        text-align: center;
        padding: 5% 0;
    }
    
    .card h1 {
        font-size: 45px;
        font-weight: 800;
        line-height: 55px;
        width: 80%;
        margin: 0 auto 3%;
        letter-spacing: 0.1em;
    }
    
    .card h3 {
        font-size: 20px;
        color: #018FDE;
        text-align: center;
        font-weight: 800;
        letter-spacing: 0.1em;
    }
    
    .secondcard {
        width: 55%;
        display: flex;
        margin: 3% auto;
        justify-content: space-between;
    
    }
    .secondcard img{
        width: 45%;
        height: 40px;
    }
    
    .secondcard p {
        width: 45%;
        font-size: 12px;
        text-align: left;
        color: #3D3D3D;
        ;
    }
    
    .niz {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    .verh {
        position: absolute;
        top: 0;
        left: 0;
    }
    .divider{
        height: 9px;
    }
}


@media screen and (max-width: 1024px) and (min-width:900px) {
    .container {
        width: 80%;
        margin: 8% auto;
        position: relative;
    }

    .card {
        text-align: center;
        padding: 8% 0;
    }

    .divider {
        width: 65%;
    }

    .card h1 {
        font-size: 38px;
    }

    .card h3 {
        font-size: 20px;
        color: #018FDE;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.01em;
    }

    .niz {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .verh {
        position: absolute;
        top: 0;
        left: 0;
    }

    .secondcard {
        width: 60%;
        display: flex;
        margin: 3% auto;
        justify-content: space-between;
    
    }
    .secondcard img{
        width: 45%;
        height: 40px;
    }
    
    .secondcard p {
        width: 50%;
        font-size: 12px;
        text-align: left;
        color: #3D3D3D;
        ;
    }

}

@media screen and (max-width: 900px) and (min-width:600px) {
    .container {
        width: 100%;
        margin: 8% auto;
        position: relative;
    }

    .card {
        text-align: center;
        padding: 5% 0;
    }

    .divider {
        width: 65%;
    }

    .card h1 {
        font-size: 35px;
        font-weight: 900;
    }

    .card h3 {
        font-size: 17px;
        color: #018FDE;
        text-align: center;
        font-weight: 800;
    }

    .niz {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .verh {
        position: absolute;
        top: 0;
        left: 0;
    }

    .secondcard {
        width: 60%;
        display: flex;
        margin: 3% auto;
        justify-content: space-between;
    
    }
    .secondcard img{
        width: 45%;
        height: 40px;
    }
    
    .secondcard p {
        width: 50%;
        font-size: 12px;
        text-align: left;
        color: #3D3D3D;
        ;
    }

}

@media screen and (max-width: 600px) and (min-width:300px) {
    .container {
        width: 100%;
        margin: 8% auto;
        position: relative;
    }

    .card {
        text-align: center;
        padding: 8% 0;
    }

    .divider {
        width: 100%;
        height: 10px;
    }

    .card h1 {
        font-size: 35px;
        font-weight: 800;
       line-height: 50px;
       width: 100%;
    }

    .card h3 {
        font-size: 20px;
        color: #018FDE;
        text-align: center;
        font-weight: 700;
    }

    .niz {
        display: none;
    }

    .verh {
        display: none;
    }

    .secondcard {
        width: 90%;
        display: block;
        margin: 2% auto;
        justify-content: space-around;

    }

    .secondcard p {
        width: 100%;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #3D3D3D;
        ;
    }

    .secondcard img {
        width: 85%;
    }

}