.header{
    margin: 0;
    padding: 0;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    padding: 2% 0; 
    align-items: center;
}

.links {
    align-self: center;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.container select {
    border: none;
    color: #8792A7;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #8792A7;
}

.nav-links.active{
    color: black !important;
}

.express {
    align-items: center;
}

.menu-icon {
    display: none;
}