.block2 {
    width: 20%;
    margin: 3% 0;
}

.block3 {
    display: block;
    justify-content: space-between;
    width: 20%;
    margin: 3% 0;
}

.block4 {
    width: 20%;
    margin: 3% 0;
}

.first_block {
    width: 30%;
    margin: 3% 0;
}

.card {
    display: block;
}

.card_p {
    width: 85%;
    justify-self: flex-start;
    display: flex;
    justify-content: space-between;
}

.block2 h5, .block3 h5, .block4 h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    padding-top: 3%;
}

.first_block h4 {
    font-size: 35px;
    font-weight: 900;
    color: #018FDE;
    line-height: 10px;
}

.first_block p {
    padding: 5% 0 0 0;
}

.block3_address {
    margin-top: 10%;
}


@media screen and (max-width: 1024px) and (min-width:900px) {
    .block2 {
        width: 30%;
        margin: 3% 0;
    }

    .block3 {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 3% 0;
    }

    .block4 {
        width: 20%;
        margin: 3% 0;
    }

    .first_block {
        width: 40%;
        margin: 3% 0;
    }

    .card {
        display: block;
    }

    .card_p {
        font-size: 14px;
        width: 85%;
        justify-self: flex-start;
        display: flex;
        justify-content: space-between;
    }

    .block2 h5, .block3 h5, .block4 h5 {
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        padding-top: 0% !important;
    }

    .first_block h4 {
        font-size: 35px;
        font-weight: 900;
        color: #018FDE;
        line-height: 10px;
    }
}

@media screen and (max-width: 900px) and (min-width:600px) {
    .block2 {
        width: 45%;
        margin: 6% 0;

    }

    .block3 {
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: 4% 0;
    }

    .block4 {
        width: 20%;
        margin: 4% 0;
    }

    .first_block {
        width: 40%;
        margin: 4% 0;
    }

    .card {
        display: block;
    }

    .card_p {
        width: 85%;
        justify-self: flex-start;
        display: flex;
        justify-content: space-between;
    }

    .block2 h5, .block3 h5, .block4 h5 {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        padding-top: 0% !important;
    }

    .first_block h4 {
        font-size: 30px;
        font-weight: 900;
        color: #018FDE;
        line-height: 10px;
    }

    .block2 p, .block3 p, .block4 p {
        padding: 5% 0 0 0;
        margin: 0;
    }
}

@media screen and (max-width: 600px) and (min-width:300px) {
    .block2 {
        width: 80%;
        margin: 4% 0 0 0;
    }

    .block3 {
        display: block;
        justify-content: space-between;
        width: 75%;
        margin: 4% 0 0 0;
    }

    .block4 {
        width: 80%;
        margin: 4% 0 0 0;
    }

    .first_block {
        width: 80%;
        margin: 8% 0;
    }

    .first_block {
        width: 80%;
        margin: 3% 0 0 0;
    }

    .first_block p {
        padding: 5% 0 0 0;
        font-size: 12px;
    }

    .card {
        display: block;
    }

    .card_p {
        width: 85%;
        justify-self: flex-start;
        display: flex;
        justify-content: space-between;
    }

    .block2 h5, .block3 h5, .block4 h5 {
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        padding-top: 3%;
    }

    .first_block h4 {
        font-size: 35px;
        font-weight: 900;
        color: #018FDE;
        line-height: 10px;
        padding-top: 20%;
    }

    .block2 p, .block3 p, .block4 p {
        padding: 5% 0 0 0;
        margin: 0;
        font-size: 12px;
    }
}