@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

.wallpaper {
    background: url(./images/background.png) center/ cover no-repeat;
}

@media  (max-width: 1024px) and (min-width:600px) {

    .wallpaper {
        background: url(./images/Tablet.png) center/ cover no-repeat;
    }
}

@media (max-width: 600px) and (min-width:320px) {

    .wallpaper {
        background: url(./images/Mobile.png) center/ cover no-repeat;
    }
}